
<div class='row'>
    <div class='col-sm-3'>
        <h2>Crear Cuenta</h2>
    </div>
    <div class='col-sm-4 ' style="padding-top: 50px;">

        <div class='div-formulario '>
            <form (ngSubmit)="registrar()"  [formGroup]="usuarioForm">
                <img src='./assets/images/usuario.png'>
                <p>Correo</p>
                <input class='text input-validator' placeholder="Juanperez@gmail.com" formControlName ="Correo">
                <span  class="span-invalid" *ngIf="usuarioForm.controls.Correo.invalid && usuarioForm.controls.Correo.touched">
                  <span class="span-invalid" *ngIf="usuarioForm.controls.Correo.errors && usuarioForm.controls.Correo.errors['required']">
                    <br>  *Este es un campo obligatorio
                  </span>
                  <span class="span-invalid" *ngIf="usuarioForm.controls.Correo.errors && usuarioForm.controls.Correo.errors['email']">
                    <br>    *El email es incorrecto
                  </span>
                </span>

                <p>Contraseña</p>
                <input class='text input-validator' placeholder="********" formControlName ="Contrasena" type="password">
                <span  class="span-invalid" *ngIf="usuarioForm.controls.Contrasena.invalid && usuarioForm.controls.Contrasena.touched">
                  <span class="span-invalid" *ngIf="usuarioForm.controls.Contrasena.errors && usuarioForm.controls.Contrasena.errors['required']">
                    <br>    *Este es un campo obligatorio
                  </span>
                </span>
            </form>
        </div>
    </div>
    <div class='col-sm-4' style="padding-top: 50px;">
        <div class='div-formulario'>
            <form (ngSubmit)="registrar()"  [formGroup]="usuarioForm">
                <p>Nombre Completo</p>
                <input class='text input-validator'placeholder="Juanperez" formControlName ="NomPac">
                <span  class="span-invalid" *ngIf="usuarioForm.controls.NomPac.invalid && usuarioForm.controls.NomPac.touched">
                  <span class="span-invalid" *ngIf="usuarioForm.controls.NomPac.errors && usuarioForm.controls.NomPac.errors['required']">
                    <br>    *Este es un campo obligatorio
                  </span>
                </span>

                <p>Teléfono</p>
                <input class='text input-validator' placeholder="550089693" formControlName ="TelPac">
                <span  class="span-invalid" *ngIf="usuarioForm.controls.TelPac.invalid && usuarioForm.controls.TelPac.touched">
                  <span class="span-invalid" *ngIf="usuarioForm.controls.TelPac.errors && usuarioForm.controls.TelPac.errors['required']">
                    <br>    *Este es un campo obligatorio
                  </span>
                  <span class="span-invalid" *ngIf="usuarioForm.controls.TelPac.errors && usuarioForm.controls.TelPac.errors['pattern']">
                    <br>  *Sólo se aceptan números
                  </span>
                </span>

                <p>Edad</p>
                <input class='text input-validator' placeholder="18" formControlName ="EdadPac">
                <span  class="span-invalid" *ngIf="usuarioForm.controls.EdadPac.invalid && usuarioForm.controls.EdadPac.touched">
                  <span class="span-invalid" *ngIf="usuarioForm.controls.EdadPac.errors && usuarioForm.controls.EdadPac.errors['required']">
                    <br>    *Este es un campo obligatorio
                  </span>
                  <span class="span-invalid" *ngIf="usuarioForm.controls.EdadPac.errors && usuarioForm.controls.EdadPac.errors['min']">
                    <br>  *La edad mínima es 18
                  </span>
                </span>

                <p>Sexo</p>
                <input class='text input-validator' placeholder="M" formControlName ="SexoPac">
                <span  class="span-invalid" *ngIf="usuarioForm.controls.SexoPac.invalid && usuarioForm.controls.SexoPac.touched">
                  <span class="span-invalid" *ngIf="usuarioForm.controls.SexoPac.errors && usuarioForm.controls.SexoPac.errors['required']">
                    <br>   *Este es un campo obligatorio
                  </span>
                </span>
                <p></p>
                <button type="submit" class="btn btn-success" [disabled]="usuarioForm.invalid">Registrar</button>
            </form>
        </div>
    </div>
</div>
