<div class='row'>
    <div class='col-sm-3' style="background-color: #052538; height: 900px; ">
            <div style="background-color: azure;">
                <p style="color: black;">Usuario_Farmacia <img src='./assets/images/user.png' class='img-icon'> </p>
            </div>
            <div style="padding-left: 35px;">
                <pm-calendario></pm-calendario>
                <div style="align-items: center;">
                    <button type="button" class='btn-warning' routerLink='/ventas'>Historial de venta</button>
                </div>
            </div>
    </div>
    <div class='col-sm-8' style="background-color: azure;">
        <h1 style="text-align: center;">Farmacia</h1>
        Medicamento: <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style='width: 600px;'>
        <button class="btn btn-outline-success" type="submit">Search</button>
        
        <table class='table table-dark table-striped'>
            <tr>
                <td>Agregar</td>
                <td>Nombre</td>
                <td>Precio</td>
                <td>Caducidad</td>
                <td>En existencia</td>
            </tr>
            <tbody>
                <tr *ngFor = "let farmacia of farmaciaTable">
                    <td><img src="./assets/images/carrito.png"  alt="Comprar"
                  width="50"
                  height="50" (click)="venta(farmacia)"></td>
                    <td>{{farmacia.NomProd}}</td>
                    <td>{{farmacia.PrecioProd}}</td>
                    <td>{{farmacia.CadProd}}</td>
                    <td>{{farmacia.ExistenciaProd}}</td>
                </tr>
            </tbody>
        </table>
        <button type="button" class='button btn-danger'>Medicamento próximo a caducar</button>
        <button type ='button' class='button btn-success' (click)='Agregar()'>Agregar Medicamento</button>
        <div *ngIf='agregarMedicamento' style="height: 120px;"><h3>Agregar al almacén</h3></div>
        <div *ngIf='agregarMedicamento' style=" width: 800px;background-color: #052538;">
            <div class='row'>
                <div class='col-sm-3'>
                    <p style="padding-top: 50px;">Medicamento: </p>
                    <p>Precio: </p>
                    <p>Fecha de Caducidad: </p>
                    <p>Cantidad adquirida del medicamento:</p>
                </div>
                <form (ngSubmit)="save()"  [formGroup]="farmaciaForm">
                    <div class='col-sm-5s'>
                        <p style="padding-top: 50px;">
                            <input class='text input-validator' formControlName="NomProd"/>
                        </p>
                        <span class="span-invalid" *ngIf="farmaciaForm.controls.NomProd.invalid && (farmaciaForm.controls.NomProd.dirty || farmaciaForm.controls.NomProd.touched)">
                            <span class="span-invalid" *ngIf="farmaciaForm.controls.NomProd.errors && farmaciaForm.controls.NomProd.errors['required']">
                                    <br>*El nombre del medicamento es requerido
                            </span>
                        </span>
                        <p>
                            <input class='text input-validator' formControlName="PrecioProd"/>
                        </p>
                        <span class="span-invalid" *ngIf="farmaciaForm.controls.PrecioProd.invalid && (farmaciaForm.controls.PrecioProd.dirty || farmaciaForm.controls.PrecioProd.touched)">
                            <span class="span-invalid" *ngIf="farmaciaForm.controls.PrecioProd.errors && farmaciaForm.controls.PrecioProd.errors['required']">
                                <br>*El precio es requerido
                            </span>
                        </span>
                        <p>
                            <input class='text input-validator' formControlName="CadProd"/>
                        </p>
                        <span class="span-invalid" *ngIf="farmaciaForm.controls.CadProd.invalid && (farmaciaForm.controls.CadProd.dirty || farmaciaForm.controls.CadProd.touched)">
                            <span class="span-invalid" *ngIf="farmaciaForm.controls.CadProd.errors && farmaciaForm.controls.CadProd.errors['required']">
                                <br>*La fecha de caducidad es requerida
                            </span>
                        </span>
                        <p style="padding-top: 50px;">
                            <input class='text input-validator' formControlName="ExistenciaProd"/>
                        </p>
                        <span class="span-invalid" *ngIf="farmaciaForm.controls.ExistenciaProd.invalid && (farmaciaForm.controls.ExistenciaProd.dirty || farmaciaForm.controls.ExistenciaProd.touched)">
                            <span class="span-invalid" *ngIf="farmaciaForm.controls.ExistenciaProd.errors && farmaciaForm.controls.ExistenciaProd.errors['required']">
                                    <br>*La cantidad de medicamento es requerida
                            </span>
                        </span>
                        <p style="padding-top: 50px;"></p>
                        <p>
                            <button type="submit()"class="button btn-success"
                             [disabled]="farmaciaForm.invalid">Agregar
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>

        <div *ngIf="viewVentas" class="div-formulario">
            <table class='table table-dark table-striped'>
                <tr>
                    <td></td>
                    <td>Nombre</td>
                    <td>Precio</td>
                    <td>Caducidad</td>
                </tr>
                <tbody>
                    <tr *ngFor = "let venta of ventasTable">
                        <td><img src="./assets/images/palomita.png" alt="Comprar"
                            width="50"
                            height="50" ></td>
                        <td>{{venta.NomProd}}</td>
                        <td>{{venta.PrecioProd}}</td>
                        <td>{{venta.CadProd}}</td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-success" (click)="enviar()">Terminar compra</button>
        </div>
    </div>
</div>