.img-icon{
    max-height: 20px;
    max-width: 20px;
}
table{
    text-align: center;
    width: 900px;
}
p{
    color:azure;
}
input{
    max-width: 300px;
    border: 3px solid pink;
}
.div-formulario{
    background-color: rgb(235, 241, 243);
    width: 2000px;
    height: 500px;
}
td{
    text-align: center;
}
th{
    text-align: center;
}
span{
    color: red;
    font-size: smaller;
}