<div class='row'>
  <div class='col-sm-2'>
  <pm-sidebar-medico></pm-sidebar-medico>
</div>
  <div class='col-sm-8'>
    <div>
      <div class='div-formulario'>
      <tabset>

        <tab heading="Datos" id="tab1">
          <div class='row'>
            <div class='col-sm-4'>
              <ul>
                <li>Nombre:</li>
                <li>NSS:</li>
                <li>fecha de nacimiento</li>
                <li class='li-parrafo'>Dirección de Domicilio:</li>
                <li style='padding-top: 40px;'>Nacionalidad:</li>
                <li style='padding-top: 30px;'>Género:</li>
                <li style='padding-top: 30px;'>Teléfono:</li>
                <li style='padding-top: 30px;'>Correo: </li>
              </ul>
            </div>
            <div class='col-sm-8'>
              <Form (ngSubmit)="save($event)"  [formGroup]="ExpedienteForm">
                <ul>
                  <li>
                       <input class='text input-validator' placeholder="Javier Duarte"
                          formControlName ="Nombre">
                          <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Nombre.invalid && ExpedienteForm.controls.Nombre.touched">
                          <span class="span-invalid" *ngIf="ExpedienteForm.controls.Nombre.errors && ExpedienteForm.controls.Nombre.errors['required']">
                               *Este es un campo obligatorio
                          </span>
                          </span>
                  </li>
                  <li>
                     <input class='text input-validator' placeholder="08420567"
                          formControlName = "NSS">
                          <span  class="span-invalid" *ngIf="ExpedienteForm.controls.NSS.invalid && ExpedienteForm.controls.NSS.touched">
                            <span class="span-invalid" *ngIf="ExpedienteForm.controls.NSS.errors && ExpedienteForm.controls.NSS.errors['required']">
                                 *Este es un campo obligatorio
                            </span>
                            <span class="span-invalid" *ngIf="ExpedienteForm.controls.NSS.errors && ExpedienteForm.controls.NSS.errors['pattern']">
                              *Sólo se aceptan números
                           </span>
                            </span>
                  </li>
                  <li>
                     <input class='text input-validator'placeholder="18"
                          formControlName = "Edad">
                          <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Edad.invalid && ExpedienteForm.controls.Edad.touched">
                            <span class="span-invalid" *ngIf="ExpedienteForm.controls.Edad.errors && ExpedienteForm.controls.Edad.errors['required']">
                                 *Este es un campo obligatorio
                            </span>
                            <span class="span-invalid" *ngIf="ExpedienteForm.controls.Edad.errors && ExpedienteForm.controls.Edad.errors['min']">
                              *La edad minima es 18
                           </span>
                            </span>
                  </li>
                  <li>
                     <input class='text input-validator' class="input-parrafo" formControlName="Domicilio">
                     <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Domicilio.invalid && ExpedienteForm.controls.Domicilio.touched">
                        <span class="span-invalid" *ngIf="ExpedienteForm.controls.Domicilio.errors && ExpedienteForm.controls.Domicilio.errors['required']">
                             *Este es un campo obligatorio
                        </span>
                        <span class="span-invalid"   *ngIf="ExpedienteForm.controls.Domicilio.errors && ExpedienteForm.controls.Domicilio.errors['maxlength']">
                          *Sólo puede ingresar 200 caracteres
                      </span>
                      </span>
                  </li>
                  <li>
                    <input class='text input-validator' placeholder="Mexicano"
                      formControlName="Nacionalidad">
                      <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Nacionalidad.invalid && ExpedienteForm.controls.Nacionalidad.touched">
                        <span class="span-invalid" *ngIf="ExpedienteForm.controls.Nombre.errors && ExpedienteForm.controls.Nombre.errors['required']">
                             *Este es un campo obligatorio
                        </span>
                        </span>
                  </li>
                  <li>
                    <input class='text input-validator' placeholder="Masculino"
                      formControlName="Genero">
                      <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Genero.invalid && ExpedienteForm.controls.Genero.touched">
                        <span class="span-invalid" *ngIf="ExpedienteForm.controls.Genero.errors && ExpedienteForm.controls.Genero.errors['required']">
                            *Este es un campo obligatorio
                        </span>
                        </span>
                  </li>
                  <li>
                    <input class='text input-validator' placeholder="57012127"
                      formControlName="Telefono">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Telefono.invalid && ExpedienteForm.controls.Telefono.touched">
                      <span class="span-invalid" *ngIf="ExpedienteForm.controls.Telefono.errors && ExpedienteForm.controls.Telefono.errors['required']">
                          *Este es un campo obligatorio
                      </span>
                      <span class="span-invalid" *ngIf="ExpedienteForm.controls.Telefono.errors && ExpedienteForm.controls.Telefono.errors['pattern']">
                        *Sólo se aceptan números
                     </span>
                      </span>
                  </li>
                  <li>
                    <input class='text input-validator' placeholder="javier@gmail.com"
                      formControlName="Correo">
                      <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Correo.invalid && ExpedienteForm.controls.Correo.touched">
                        <span class="span-invalid" *ngIf="ExpedienteForm.controls.Correo.errors && ExpedienteForm.controls.Correo.errors['required']">
                            *Este es un campo obligatorio
                        </span>
                        <span class="span-invalid" *ngIf="ExpedienteForm.controls.Correo.errors && ExpedienteForm.controls.Correo.errors['email']">
                          *El email es incorrecto
                        </span>
                        </span>
                  </li>
              </ul>
             </Form>

            </div>
          </div>
        </tab>

        <tab heading="Historia clínica">
          <div class='row'>
            <div class='col-sm-4'>
                <ul>
                  <li>Ficha de identificacion: </li>
                  <li class='li-parrafo'>Antecedentes familiares: </li>
                  <li class='li-parrafo'>Antecedentes personales: </li>
                  <li>Exploración física</li>
                  <li>Pulso lat/min </li>
                  <li>temperatura: </li>
                  <li class='li-parrafo'>Estado físico: </li>
                </ul>
            </div>
            <div class='col-sm-8'>
              <Form (ngSubmit)="save($event)"  [formGroup]="ExpedienteForm">
                <ul>
                  <li>
                    <input class='text input-validator'
                    formControlName ="Ficha">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Ficha.invalid && ExpedienteForm.controls.Ficha.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.Ficha.errors && ExpedienteForm.controls.Ficha.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='text input-validator' class='input-parrafo'
                    formControlName ="Antecedentes1">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Antecedentes1.invalid && ExpedienteForm.controls.Antecedentes1.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.Antecedentes1.errors && ExpedienteForm.controls.Antecedentes1.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='text input-validator' class='input-parrafo'
                    formControlName ="Antecedentes2">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Antecedentes2.invalid && ExpedienteForm.controls.Antecedentes2.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.Antecedentes2.errors && ExpedienteForm.controls.Antecedentes2.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='text input-validator'
                    formControlName ="Exp">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Exp.invalid && ExpedienteForm.controls.Exp.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.Exp.errors && ExpedienteForm.controls.Exp.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='text input-validator'
                    formControlName ="Pulso">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Pulso.invalid && ExpedienteForm.controls.Pulso.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.Pulso.errors && ExpedienteForm.controls.Pulso.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='text input-validator'
                    formControlName ="Temp">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Temp.invalid && ExpedienteForm.controls.Temp.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.Temp.errors && ExpedienteForm.controls.Temp.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='input-parrafo' class='text input-validator'
                    formControlName ="Estado">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Estado.invalid && ExpedienteForm.controls.Estado.touched">
                      <span class="span-invalid" *ngIf="ExpedienteForm.controls.Estado.errors && ExpedienteForm.controls.Estado.errors['required']">
                           *Este es un campo obligatorio
                      </span>
                      </span>
                  </li>
                </ul>
              </Form>
            </div>
          </div>
        </tab>

          <tab heading="Diagnóstico">
            <div class='row'>
              <div class="col-sm-4">
                <ul>
                  <li class='li-parrafo'>Resultados de laboratorio</li>
                  <li class='li-parrafo'>Pronóstico</li>
                </ul>
              </div>
              <div class='col-sm-8'>
                <Form (ngSubmit)="save($event)"  [formGroup]="ExpedienteForm">
                  <ul>
                    <li>
                      <input class='text input-validator' class='input-parrafo'
                      formControlName ="Lab">
                      <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Lab.invalid && ExpedienteForm.controls.Lab.touched">
                      <span class="span-invalid" *ngIf="ExpedienteForm.controls.Lab.errors && ExpedienteForm.controls.Lab.errors['required']">
                           *Este es un campo obligatorio
                      </span>
                      </span>
                    </li>
                    <li>
                      <input class='text input-validator' class='input-parrafo'
                      formControlName ="Pro">
                      <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Pro.invalid && ExpedienteForm.controls.Pro.touched">
                      <span class="span-invalid" *ngIf="ExpedienteForm.controls.Pro.errors && ExpedienteForm.controls.Pro.errors['required']">
                           *Este es un campo obligatorio
                      </span>
                      </span>
                    </li>
                  </ul>
                </Form>
              </div>
            </div>
          </tab>

          <tab heading="Evolución">
            <div class='row'>
              <div class='col-sm-4'>
                <ul>
                  <li class='li-parrafo'>Signos vitales </li>
                  <li class='li-parrafo'> Resultados de estudio</li>
                  <li class='li-parrafo'>Diagnóstico: </li>
                  <li class='li-parrafo'>Pronóstico: </li>
                </ul>
              </div>
              <div class='col-sm-8'>
                <Form (ngSubmit)="save($event)"  [formGroup]="ExpedienteForm">
                  <li>
                    <input class='text input-validator' class='input-parrafo'
                    formControlName ="Sig">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Sig.invalid && ExpedienteForm.controls.Sig.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.Sig.errors && ExpedienteForm.controls.Sig.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='text input-validator' class='input-parrafo'
                    formControlName ="Res">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Res.invalid && ExpedienteForm.controls.Res.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.Res.errors && ExpedienteForm.controls.Res.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='text input-validator' class='input-parrafo'
                    formControlName ="Dia">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Dia.invalid && ExpedienteForm.controls.Dia.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.Dia.errors && ExpedienteForm.controls.Dia.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='text input-validator' class='input-parrafo'
                    formControlName ="Pro2">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Pro2.invalid && ExpedienteForm.controls.Pro2.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.Pro2.errors && ExpedienteForm.controls.Pro2.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                </Form>
              </div>
            </div>
          </tab>
      </tabset>
      <div class='row' style="padding-left: 600px;">
        <button type="submit" [disabled] ="ExpedienteForm.invalid"  class='btn btn-success'
        (click)='Guardar()'>Guardar</button>
        <button type="button" class='btn btn-danger'
        (click)='Borrar()'>Borrar expediente</button>
      </div>
    </div>

      <progressbar max="200" [value]="150" type="danger" [striped]="true" [animate]="true"><i>150 / 200</i></progressbar>

    </div>
  </div>
</div>


