<div class='row'>
  <div class='col-sm-2'>
  <pm-sidebar-medico></pm-sidebar-medico>
</div>
  <div class='col-sm-8'>
    <div>
      <div class='div-formulario'>
      <tabset>

        <tab heading="Datos" id="tab1">
          <div class='row'>
            <div class='col-sm-4'>
              <ul>
                <li>Nombre:</li>
                <li>NSS:</li>
                <li>Fecha de nacimiento</li>
                <li class='li-parrafo'>Dirección de Domicilio:</li>
                <li style='padding-top: 40px;'>Nacionalidad:</li>
                <li style='padding-top: 30px;'>Género:</li>
                <li style='padding-top: 30px;'>Teléfono:</li>
                <li style='padding-top: 30px;'>Correo: </li>
              </ul>
            </div>
            <div class='col-sm-8'>
              <Form (ngSubmit)="save($event)"  [formGroup]="ExpedienteForm">
                <ul>
                  <li>
                       <input class='text input-validator' placeholder=""
                          formControlName ="Nombre">
                          <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Nombre.invalid && ExpedienteForm.controls.Nombre.touched">
                          <span class="span-invalid" *ngIf="ExpedienteForm.controls.Nombre.errors && ExpedienteForm.controls.Nombre.errors['required']">
                               *Este es un campo obligatorio
                          </span>
                          </span>
                  </li>
                  <li>
                     <input class='text input-validator' placeholder=""
                          formControlName = "NSS">
                          <span  class="span-invalid" *ngIf="ExpedienteForm.controls.NSS.invalid && ExpedienteForm.controls.NSS.touched">
                            <span class="span-invalid" *ngIf="ExpedienteForm.controls.NSS.errors && ExpedienteForm.controls.NSS.errors['required']">
                                 *Este es un campo obligatorio
                            </span>
                            <span class="span-invalid" *ngIf="ExpedienteForm.controls.NSS.errors && ExpedienteForm.controls.NSS.errors['pattern']">
                              *Sólo se aceptan números
                           </span>
                            </span>
                  </li>
                  <li>
                    <Form action="" method="">
                      <input type="date" value="aaaa-mm-dd"  formControlName = "Edad">
                    </Form>
                  </li>
                  <li>
                     <input class='text input-validator' class="input-parrafo" formControlName="Domicilio">
                     <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Domicilio.invalid && ExpedienteForm.controls.Domicilio.touched">
                        <span class="span-invalid" *ngIf="ExpedienteForm.controls.Domicilio.errors && ExpedienteForm.controls.Domicilio.errors['required']">
                             *Este es un campo obligatorio
                        </span>
                        <span class="span-invalid"   *ngIf="ExpedienteForm.controls.Domicilio.errors && ExpedienteForm.controls.Domicilio.errors['maxlength']">
                          *Sólo puede ingresar 200 caracteres
                      </span>
                      </span>
                  </li>
                  <li>
                    <input class='text input-validator' placeholder=""
                      formControlName="Nacionalidad">
                      <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Nacionalidad.invalid && ExpedienteForm.controls.Nacionalidad.touched">
                        <span class="span-invalid" *ngIf="ExpedienteForm.controls.Nombre.errors && ExpedienteForm.controls.Nombre.errors['required']">
                             *Este es un campo obligatorio
                        </span>
                        </span>
                  </li>
                  <li>
                    <input class='text input-validator' placeholder="M"
                      formControlName="Genero">
                      <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Genero.invalid && ExpedienteForm.controls.Genero.touched">
                        <span class="span-invalid" *ngIf="ExpedienteForm.controls.Genero.errors && ExpedienteForm.controls.Genero.errors['required']">
                            *Este es un campo obligatorio
                        </span>
                        </span>
                  </li>
                  <li>
                    <input class='text input-validator' placeholder=""
                      formControlName="Telefono">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Telefono.invalid && ExpedienteForm.controls.Telefono.touched">
                      <span class="span-invalid" *ngIf="ExpedienteForm.controls.Telefono.errors && ExpedienteForm.controls.Telefono.errors['required']">
                          *Este es un campo obligatorio
                      </span>
                      <span class="span-invalid" *ngIf="ExpedienteForm.controls.Telefono.errors && ExpedienteForm.controls.Telefono.errors['pattern']">
                        *Sólo se aceptan números
                     </span>
                      </span>
                  </li>
                  <li>
                    <input class='text input-validator' placeholder="javier@gmail.com"
                      formControlName="Correo">
                      <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Correo.invalid && ExpedienteForm.controls.Correo.touched">
                        <span class="span-invalid" *ngIf="ExpedienteForm.controls.Correo.errors && ExpedienteForm.controls.Correo.errors['required']">
                            *Este es un campo obligatorio
                        </span>
                        <span class="span-invalid" *ngIf="ExpedienteForm.controls.Correo.errors && ExpedienteForm.controls.Correo.errors['email']">
                          *El email es incorrecto
                        </span>
                        </span>
                  </li>
              </ul>
             </Form>

            </div>
          </div>
        </tab>

        <tab heading="Historia clínica">
          <div class='row'>
            <div class='col-sm-4'>
                <ul>
                  <li>Ficha de identificacion: </li>
                  <li class='li-parrafo'>Antecedentes familiares: </li>
                  <li class='li-parrafo'>Antecedentes personales: </li>
                  <li>Exploración física</li>
                  <li>Pulso lat/min </li>
                  <li>temperatura: </li>
                  <li class='li-parrafo'>Estado físico: </li>
                </ul>
            </div>
            <div class='col-sm-8'>
              <Form (ngSubmit)="save($event)"  [formGroup]="ExpedienteForm">
                <ul>
                  <li>
                    <input class='text input-validator'
                    formControlName ="FichaId">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.FichaId.invalid && ExpedienteForm.controls.FichaId.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.FichaId.errors && ExpedienteForm.controls.FichaId.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='text input-validator' class='input-parrafo'
                    formControlName ="AntecedentesF">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.AntecedentesF.invalid && ExpedienteForm.controls.AntecedentesF.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.AntecedentesF.errors && ExpedienteForm.controls.AntecedentesF.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='text input-validator' class='input-parrafo'
                    formControlName ="AntecedentesP">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.AntecedentesP.invalid && ExpedienteForm.controls.AntecedentesP.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.AntecedentesP.errors && ExpedienteForm.controls.AntecedentesP.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='text input-validator'
                    formControlName ="Exploracion">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Exploracion.invalid && ExpedienteForm.controls.Exploracion.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.Exploracion.errors && ExpedienteForm.controls.Exploracion.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='text input-validator'
                    formControlName ="Pulso">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Pulso.invalid && ExpedienteForm.controls.Pulso.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.Pulso.errors && ExpedienteForm.controls.Pulso.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='text input-validator'
                    formControlName ="Temperatura">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Temperatura.invalid && ExpedienteForm.controls.Temperatura.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.Temperatura.errors && ExpedienteForm.controls.Temperatura.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='input-parrafo' class='text input-validator'
                    formControlName ="EstadoF">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.EstadoF.invalid && ExpedienteForm.controls.EstadoF.touched">
                      <span class="span-invalid" *ngIf="ExpedienteForm.controls.EstadoF.errors && ExpedienteForm.controls.EstadoF.errors['required']">
                           *Este es un campo obligatorio
                      </span>
                      </span>
                  </li>
                </ul>
              </Form>
            </div>
          </div>
        </tab>

          <tab heading="Diagnóstico">
            <div class='row'>
              <div class="col-sm-4">
                <ul>
                  <li class='li-parrafo'>Resultados de laboratorio</li>
                  <li class='li-parrafo'>Pronóstico</li>
                </ul>
              </div>
              <div class='col-sm-8'>
                <Form (ngSubmit)="save($event)"  [formGroup]="ExpedienteForm">
                  <ul>
                    <li>
                      <input class='text input-validator' class='input-parrafo'
                      formControlName ="ResultadosLab">
                      <span  class="span-invalid" *ngIf="ExpedienteForm.controls.ResultadosLab.invalid && ExpedienteForm.controls.ResultadosLab.touched">
                      <span class="span-invalid" *ngIf="ExpedienteForm.controls.ResultadosLab.errors && ExpedienteForm.controls.ResultadosLab.errors['required']">
                           *Este es un campo obligatorio
                      </span>
                      </span>
                    </li>
                    <li>
                      <input class='text input-validator' class='input-parrafo'
                      formControlName ="Pronostico">
                      <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Pronostico.invalid && ExpedienteForm.controls.Pronostico.touched">
                      <span class="span-invalid" *ngIf="ExpedienteForm.controls.Pronostico.errors && ExpedienteForm.controls.Pronostico.errors['required']">
                           *Este es un campo obligatorio
                      </span>
                      </span>
                    </li>
                  </ul>
                </Form>
              </div>
            </div>
          </tab>

          <tab heading="Evolución">
            <div class='row'>
              <div class='col-sm-4'>
                <ul>
                  <li class='li-parrafo'>Signos vitales </li>
                  <li class='li-parrafo'> Resultados de estudio</li>
                  <li class='li-parrafo'>Diagnóstico: </li>
                  <li class='li-parrafo'>Pronóstico: </li>
                </ul>
              </div>
              <div class='col-sm-8'>
                <Form (ngSubmit)="save($event)"  [formGroup]="ExpedienteForm">
                  <li>
                    <input class='text input-validator' class='input-parrafo'
                    formControlName ="SignosVit">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.SignosVit.invalid && ExpedienteForm.controls.SignosVit.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.SignosVit.errors && ExpedienteForm.controls.SignosVit.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='text input-validator' class='input-parrafo'
                    formControlName ="Resultados">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Resultados.invalid && ExpedienteForm.controls.Resultados.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.Resultados.errors && ExpedienteForm.controls.Resultados.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='text input-validator' class='input-parrafo'
                    formControlName ="Diagnostico">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.Diagnostico.invalid && ExpedienteForm.controls.Diagnostico.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.Diagnostico.errors && ExpedienteForm.controls.Diagnostico.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <li>
                    <input class='text input-validator' class='input-parrafo'
                    formControlName ="PronosticoEv">
                    <span  class="span-invalid" *ngIf="ExpedienteForm.controls.PronosticoEv.invalid && ExpedienteForm.controls.PronosticoEv.touched">
                    <span class="span-invalid" *ngIf="ExpedienteForm.controls.PronosticoEv.errors && ExpedienteForm.controls.PronosticoEv.errors['required']">
                         *Este es un campo obligatorio
                    </span>
                    </span>
                  </li>
                  <div class='row' style="padding-left: 600px;">
                    <button type="submit" [disabled] ="ExpedienteForm.invalid"  class='btn btn-success'
                    (click)='Guardar()'>Guardar</button>
                    <button type="button" class='btn btn-danger'
                    (click)='Borrar()'>Borrar expediente</button>
                  </div>
                </Form>
              </div>
            </div>
          </tab>
      </tabset>

    </div>

<!--       <progressbar max="200" [value]="150" type="danger" [striped]="true" [animate]="true"><i>150 / 200</i></progressbar>
 -->
    </div>
  </div>
</div>


