<div class='row' *ngIf ='ViewValue'>
    <div class='col-sm-2'>
    <pm-sidebar-recepcionista></pm-sidebar-recepcionista>
    </div>
    <div class=col-sm-8>
        <div style="background-color: azure;">
        <h3>Expedientes</h3>
    
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style='width: 600px;'
        [(ngModel)]='listFilter'/>
        <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
        <div>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>IdPaciente</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Edad</th>
                    <th>Sexo</th>
                    <th>Correo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ='let expediente of expedientes'>
                    <td >{{expediente.idPaciente}}</td>
                    <td>{{expediente.nomPac}}</td>
                    <td>{{expediente.TelPac}}</td>
                    <td>{{expediente.EdadPac}}</td>
                    <td>{{expediente.SexoPac}}</td>
                    <td>{{expediente.CorreoPac}}</td>
                    <td><button type="button" class='btn btn-success' a href="#" 
                        (click)='Mostrar(expediente.idPaciente)'>Ver Expedientes</button>
                        <button type="button" class='btn btn-danger'>Eliminar</button></td>
                </tr>
    
            </tbody>
        </table>
        </div>
    </div>
</div>
<div class="row" *ngIf='ViewValue'>
    <div class='col-sm-2'>
        <pm-sidebar-medico></pm-sidebar-medico>
    </div>
    <div class='col-sm-8'>
        <div class='row'>
            <div class="div-formulario">
                <div>
                    <h2>Expedientes</h2>
                    <table class='table table-dark'>
                        <tr>
                            <td>NSS</td>
                            <td>FechaNa</td>
                           <td>Domicilio</td> 
                            <td>Nacionalidad</td>
                            <td>FichaID </td>
                            <td>AntecedentesF</td>
                            <td>AntecedentesP</td>
                            <td>Exploracion</td> 
                            <td>Pulso</td>
                            <td>Temperatura</td> 
                            <td>EstadoF </td>
                            <td>ResultadosLab</td> 
                            <td>Pronostico</td>
                            <td>SignosVit</td>
                            <td>Resultados</td>
                            <td>Diagnostico</td>
                            <td>PronosticoEv</td>
                        </tr>
                        <tbody>
                            <tr>
                        <tr *ngFor ='let exp of TablaExpediente'>
                            <td>{{exp.NSS}}</td>
                            <td>{{exp.FechaNa}}</td>
                            <td>{{exp.Domicilio}}</td>
                            <td>{{exp.Nacionalidad}}</td>
                            <td>{{exp.FichaID}} </td>
                            <td>{{exp.AntecedentesF}}</td>
                            <td>{{exp.AntecedentesP}}</td>
                            <td>{{exp.Exploracion}} </td>
                            <td>{{exp.Pulso}}</td>
                            <td>{{exp.Temperatura}}</td> 
                            <td>{{exp.EstadoF }}</td>
                            <td>{{exp.ResultadosLab }}</td>
                            <td>{{exp.Pronostico}}</td>
                            <td>{{exp.SignosVit}}</td>
                            <td>{{exp.Resultados}}</td>
                            <td>{{exp.Diagnostico}}</td>
                            <td>{{exp.PronosticoEv}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <div class='row' style="height: 100px;"></div>
            <div class="div-formulario">
                <h2>Recetas</h2>
                    <table class='table table-dark'>
                        <tr>
                                <td>id</td>
                                <td>Medicamento</td> 
                                <td>Dosis</td>
                                <td>Indicaciones</td>
                    
                        </tr>
                        <tbody>
                            <tr>
                                <tr *ngFor ='let receta of TablaReceta'>
                                <td>{{receta.id}}</td>
                                <td>{{receta.Medicamento}}</td>
                                <td>{{receta.Dosis}}</td>
                                <td>{{receta.Indicaciones}}</td>
                                
                            </tr>
                        </tbody>
                    </table>
            </div>
            </div>

        </div>
</div>