<div class='row'>
  <div class='col-sm-2'>
    <pm-sidebar-medico></pm-sidebar-medico>
  </div>
  <div class='col-sm-6'>
    <div>
        <div class='div-formulario'>
          <h3>Registrar usuario</h3>
            <li>Tipo de usuario:
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-danger dropdown-toggle"
                            aria-controls="dropdown-basic">
                      Elige Uno <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                      <li role="menuitem"><a class="dropdown-item" href="#">Recepcionista</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Médico</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Paciente</a></li>
                      <li class="divider dropdown-divider"></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Slim</a>
                      </li>
                    </ul>
                  </div>
                </li>
      <form (ngSubmit)="save($event)" [formGroup]="registrarForm">
        <li>
          Nombre:<input class="text input-validator" formControlName="Nomb">
          <span  class="span-invalid" *ngIf="registrarForm.controls.Nomb.invalid && registrarForm.controls.Nomb.touched">
            <span class="span-invalid" *ngIf="registrarForm.controls.Nomb.errors && registrarForm.controls.Nomb.errors['required']">
                 *Este es un campo obligatorio
            </span>
          </span>
        </li>
        <li>
          Apellidos:<input class="text input-validator" formControlName="Apelli">
          <span  class="span-invalid" *ngIf="registrarForm.controls.Apelli.invalid && registrarForm.controls.Apelli.touched">
            <span class="span-invalid" *ngIf="registrarForm.controls.Apelli.errors && registrarForm.controls.Apelli.errors['required']">
                 *Este es un campo obligatorio
            </span>
          </span>
        </li>
        <li>
          Edad:<input class="text input-validator" formControlName="Ed">
          <span  class="span-invalid" *ngIf="registrarForm.controls.Ed.invalid && registrarForm.controls.Ed.touched">
            <span class="span-invalid" *ngIf="registrarForm.controls.Ed.errors && registrarForm.controls.Ed.errors['required']">
                 *Este es un campo obligatorio
            </span>
            <span class="span-invalid" *ngIf="registrarForm.controls.Ed.errors && registrarForm.controls.Ed.errors['min']">
              *La edad mínima es 18
            </span>
          </span>
        </li>

        <li>
          Teléfono:<input class="text input-validator" formControlName="Tel">
          <span  class="span-invalid" *ngIf="registrarForm.controls.Tel.invalid && registrarForm.controls.Tel.touched">
            <span class="span-invalid" *ngIf="registrarForm.controls.Tel.errors && registrarForm.controls.Tel.errors['required']">
                 *Este es un campo obligatorio
            </span>
            <span class="span-invalid" *ngIf="registrarForm.controls.Tel.errors && registrarForm.controls.Tel.errors['pattern']">
              *Sólo se aceptan números
            </span>
          </span>
        </li>
      </form>
        <li><button type='button' class="btn btn-success">Registrar</button></li>
    </div>

    </div>
  </div>
</div>
