<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light nav-link" style="background-color: #052538">
  <!--  -->
  <link rel="stylesheet" href="app.component.css" />
  <img class="logo" src="./assets/images/cedae-blanco.png" style="max-width: 200px" routerLink="/"/>
  <li class="nav-item active">
    <a href="#" routerLink="/">Home</a>
    <a href="#" routerLink="/cita" *ngIf = 'viewPaciente'>Paciente</a>
    <a href="#" routerLink="/expediente" *ngIf = 'viewDoctor'>Médico</a>
    <a href="#" routerLink="/recepcionista" *ngIf = 'viewRecepcionista'>Recepcionista</a>
    <a href="#" routerLink="/registrar" *ngIf = 'false'>Administrador</a>
    <a href="#" routerLink="/farmacia" *ngIf='false'>Farmacia</a>
    <a href="#" routerLink="/cita" *ngIf = 'true'>Agendar Cita</a>
    <button routerLink="/Login" type="button" class="btn btn-success" *ngIf='true'>Iniciar sesión</button>
    <button type="button" class="btn btn-danger" *ngIf='true'>Cerrar sesión</button>
  </li>
</nav>

<!-- <div class='container'> -->
<router-outlet></router-outlet>
<!-- </div> -->
