<div class='row'>
    <div class='col-sm-2'>
    <pm-sidebar-medico></pm-sidebar-medico>
    </div>    
    <div class='col-sm-5'>
        <div>
            <div class='div-formulario'>
                <h2>Medicamentos</h2>
                <div class='row'>
                    <div class='col-sm-3 '>
                        <li>Medicamento </li>
                <li>Dósis: </li>
                <li>Indicaciones: </li>
               
                    </div>
                    <div class='col-sm-6 div-formulario' style="max-height: 200px;">
                        <form (ngSubmit)="save()"  [formGroup]="RecetaForm">
                        <li><input class='text input-validator' placeholder="Medicamento"
                            formControlName= "Medicamento"></li>
                            <span class="span-invalid" *ngIf="RecetaForm.controls.Medicamento.invalid && (RecetaForm.controls.Medicamento.dirty || RecetaForm.controls.Medicamento.touched)">
                                <span class="span-invalid" *ngIf="RecetaForm.controls.Medicamento.errors && RecetaForm.controls.Medicamento.errors['required']">
                                        El nombre del Medicamento es requerido</span>
                            </span>            
                        <li><input class='text input-validator' placeholder="Dósis"
                            formControlName= "Dosis"></li>
                            <span class="span-invalid" *ngIf="RecetaForm.controls.Dosis.invalid && (RecetaForm.controls.Dosis.dirty || RecetaForm.controls.Dosis.touched)">
                                <span class="span-invalid" *ngIf="RecetaForm.controls.Dosis.errors && RecetaForm.controls.Dosis.errors['required']">
                                        Dósis requerida</span>
                            </span> 
                        <li><input class='text input-validator' placeholder="Indicaciones"
                            formControlName= "Indicaciones"></li>
                            <span class="span-invalid" *ngIf="RecetaForm.controls.Indicaciones.invalid && (RecetaForm.controls.Indicaciones.dirty || RecetaForm.controls.Indicaciones.touched)">
                                <span class="span-invalid" *ngIf="RecetaForm.controls.Indicaciones.errors && RecetaForm.controls.Indicaciones.errors['required']">
                                        Agregue una indicación de consumo</span>
                            </span>
                    <p> <button type="submit" class="btn btn-primary" [disabled]="RecetaForm.invalid">Agregar a Receta</button></p>
                    <p> <button type="button" class="btn btn-primary" (click)="clear()">Otro Medicamento</button> </p>
                        <button type="button" class="btn btn-danger">Cancelar</button>   
                        </form>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-sm-2'>
        <div class="div-formulario">
            <div  >
            <h2>Receta médica</h2>
            <table class='table table-dark'>
                <tr>
                        <td>Medicamento</td>
                        <td>Dósis</td>
                        <td>Indicaciones</td>
                        <td>Opciones</td>
                </tr>
                <tbody>
                    <tr *ngFor ='let medicamento of Receta'>
                        <td>{{medicamento.Medicamento}}</td>
                        <td>{{medicamento.Dosis}}</td>
                        <td>{{medicamento.Indicaciones}}</td>
                        <td><button type="button" class="btn btn-danger" 
                            (click)='eliminar(medicamento.id)'>Eliminar</button></td>
                    </tr>
                    
                    
                </tbody>
            </table>
        </div>
            <button type="button" class="btn btn-success"(click)='generarPDF()'>Imprimir</button>
            <button type="button" class="btn btn-success">Enviar al correo</button>
            <input placeholder="@lupita-dalesio@gmail.com">
        </div>
    </div>
</div>
<div class='div-formulario' id="contenido" *ngIf='true'>
    <img src="./assets/images/cedae.png"
    style="max-width: 200px;">
    <h3>Clínica de atención dermatológica</h3>
    <p>Doctor Buen Día</p>

    <p *ngFor = 'let medicamento of Receta'>
        {{medicamento.Dosis}} de {{medicamento.Medicamento}}. {{medicamento.Indicaciones}}
    </p>
</div>